tests/__pycache__

tests/.pytest_cache

# Byte-compiled / optimized / DLL files
*/__pycache__

.mypy_cache

*/.pytest_cache

.pytest_cache

*.py[cod]

*$py.class

/tests/test_upload_iid.py

/tests/test_upload_iid.py

.DS_STORE

tests/test_upload_ts.py

tests/test_demo1.py

tests/test_decanter_ai_sdk.py

.coverage
